<h4>Formularios <small> Reactive </small></h4>
<hr />
<form autocomplete="off" [formGroup]="form" (ngSubmit)="toHold()">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Name"
          formControlName="name"
          [class.is-invalid]="invalidName"
        />

        <small *ngIf="invalidName" class="form-text text-danger"
          >Name is required</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Last name</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="lastName"
          formControlName="lastName"
          [class.is-invalid]="invalidLastName"
        />

        <small *ngIf="invalidLastName" class="form-text text-danger"
          >Last name is required</small
        >
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">E-mail</label>
    <div class="col-8">
      <input
        class="form-control"
        type="email"
        placeholder="Email"
        formControlName="email"
        [class.is-invalid]="invalidEmail"
      />

      <small *ngIf="invalidEmail" class="form-text text-danger"
        >Email is required</small
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>

<hr />
<pre>
  Form status: {{form.valid}}
  <hr>
  Status: {{form.status}}
</pre>

<pre>
  {{ form.value | json }}
</pre>
